body{
    margin: 0;
}

.row{
    padding: 5px;
    margin-right: 0;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.clearfix{
    width: 15%;
    height: 100%;
    left: 0;
    position: fixed;
}

.box-left{
    float: left;
    width: 100%;
    background-color: #f9fafb;
    border-radius: 5px;
    height:70%;
    list-style: none; 
}

.sidebar-menu{
    list-style-type: none;
    margin: 0;
    padding: 0; 
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
}

.sidebar-title {
    display: block;
    font-size: 25px;
    line-height: 2.2;
    padding: 5px 0;
    text-align: center;
    background-color: burlywood;
    font-weight: bold;
    margin: 0 0 15px;
}

.has-child{
    display: block;
    font-size: 18px;
    line-height: 2.2;
    text-decoration: none;
    text-align: center;
}

.has-child a{
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.has-child a:hover{
    background-color: #555;
    color: white;
}

 .listproduct{
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
} 

.form-group{
    max-width: fit-content;
    text-align: center;
    margin-top: 20px;
    display: inline-block;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10%;
    background-color: wheat;
}

.button-images{
    display: inline-block;
    text-align-last: right;
}

.container{
    padding:0.01em 16px
}

.display-container{
    position:relative
}

.container-text-center {
    width: 100%;
}

.container-text-center h1{
    text-align: center;
    padding-top: 22px;
}


.navbar-header ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.col-sm-4 {
    display: flex;
    text-align: center;
    margin: 13px;
    padding: 22px;
    border: 1px solid black;
    box-sizing: inherit;
    flex-direction: column;
    align-items: center;
}

    div .col-sm-4 .btn-btn-primary{
        background-color: violet; 
        border: none; 
        color: white; 
        padding: 4px; 
        text-align: center; 
        text-decoration: none; 
        display: inline-block;
        font-size: 16px;
        cursor: pointer; 
        border-radius:10px
    }


.row .submit>button{
    background-color: #58257b;
    border-color:white; 
    border: none; 
    color: white; 
    padding: 12px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    cursor: pointer; 
    border-radius:10px;
    margin-top:5px;
}

.sidebar{
    height:100%;
    width:200px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto;
    display:block!important;
    display:none;
}

.top{
    position:fixed;
    width:100%;
    z-index:1;
    top:0;
}

.white{
    color:#000!important;
    background-color:#fff!important;
}

.padding-16{
    padding-top:16px!important;
    padding-bottom:16px!important;
}

.padding-64{
    padding-top:64px!important;
    padding-bottom:64px!important
}

.wide{
    letter-spacing:4px;
}

.text-grey{
    color:#757575!important;
}

.large{
    font-size:18px!important;
}



footer{
    text-align: center; 
    background-color:dimgrey; 
    bottom:0;
    width:100%;
    position:fixed;
}